.lg-flex-containe
  .service-container
    .shoulder-pain-img
    .shoulder-pain-explanation
      .explanation-top
      - @treatments.each do |treatment|
        %h2= treatment.title
        .explanation-mid
        %h4= treatment.subtitle
        .explanation-bottom
        %p= treatment.content
        %p= image_tag(treatment.picture_url) if treatment.picture.present?
