.lg-flex-containe
  .service-container
    .shoulder-pain-img
    .shoulder-pain-explanation
      %h3.explanation-top 　肩が痛い方へ
      %h2.explanation-mid
        肩が痛いと思った時
        %br
        気軽に来れる治療院を目指して
      %p.explanation-bottom
        %p.bs きふね歯科は、小さなお子さまの虫歯治療から、歯周病予防、ご高齢の方の入れ歯づくりまで、幅広い世代の方々の歯を治療します。
        %p.bsそしてどの処置も、再び治療の必要がないように徹底を。銀歯を作る際には、拡大鏡を使って慎重に歯を削り、精巧な型をもとに、患者さまのための詰め物をご用意します。
        %p入れ歯も同様に、外れにくく、痛みのないものを製作。まずは緻密な処置が、予防には欠かせないのです。そしてさらに大事なのは、治療後の歯のメンテナンス。予防歯科の大前提である、虫歯予防や歯周病予防のセルフケアのやり方もお教えします。
  .service-container
    .baseball-img
    .baseball-explanation
      %h3.explanation-top 　野球を楽しんでる方へ
      %h2.explanation-mid
        楽しく上手にやるために
        %br
        １人１人に合った治療、トレーニングを提供します
      %p.explanation-bottom
        %p.bs きふね歯科は、小さなお子さまの虫歯治療から、歯周病予防、ご高齢の方の入れ歯づくりまで、幅広い世代の方々の歯を治療します。
        %p.bsそしてどの処置も、再び治療の必要がないように徹底を。銀歯を作る際には、拡大鏡を使って慎重に歯を削り、精巧な型をもとに、患者さまのための詰め物をご用意します。
        %p入れ歯も同様に、外れにく
  .service-container
    .conditioning-img
    .conditioning-explanation
      %h3.explanation-top 　ケアしたい選手へ
      %h2.explanation-mid
        けがしないために
        %br
        適切な治療、セルフケアを
      %p.explanation-bottom
        %p.bs きふね歯科は、小さなお子さまの虫歯治療から、歯周病予防、ご高齢の方の入れ歯づくりまで、幅広い世代の方々の歯を治療します。
        %p.bsそしてどの処置も、再び治療の必要がないように徹底を。銀歯を作る際には、拡大鏡を使って慎重に歯を削り、精巧な型をもとに、患者さまのための詰め物をご用意します。
        %p入れ歯も同様に、外れにく
