<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h3>Name: <%= @contact.name %></h3>
    <h3>Email: <%= @contact.email %></h3>
    <p>
    <strong>Content: </strong><%= @contact.content %>
    <strong>Content: </strong><%= @contact.created_at %>
    </p>
  </body>
</html>
