<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h2>katalab</h2>
    <p>
    Thank you for your Inquiry at katalab,<%= @contact.name %>!
    <br />
    We will responod to your Iquiry as soon as possible.
    <br />
    Thank you,
    <br />
    katalab
    </p>
  </body>
</html>
