.info-container#2
  .info
    .info-message
      .info-top-massage
        %h2 「仕事」「野球」
        %h2好きなこと好きなだけやるために
      .info-middle-massage
        %p カラダの専門家である理学療法士の僕たちが全力でお手伝いします
        %P 身体の構造を知ってもらい、あなたの身体のクセを知ってもらい、治療していきます。
