.lg-flex-container
  .tretments
    .treatment
      - @treatments.each do |treatment|
        %h2= treatment.title
        .tretment-name
        %h4= treatment.subtitle
        = link_to "", treatments_path,class:"link"
