.we-container
  .we-img
    .we-message
      %h2 肩関節、野球で有名な病院で働いたからこそ
      %p　小さな頃から野球が大好きで野球部に入っていましたが、高校野球を境に野球が嫌いになってしまいました。それもそのはず、高校の監督が無知で「合理性を感じないただきついだけの練習」を続けた結果、頑張ってもなかなか上手くならないどころか、チーム内に怪我人が続出したのです。(ちなみにエースは怪我のせいで夏の大会先発できませんでした…)その経験をきっかけに、僕たちのような辛い経験を野球少年たちにさせないという強い気持ちの元、身体のプロである理学療法士になり、野球少年からプロ野球選手までたくさんの野球選手に携わってきました。そうするうちに、今の知識を使えばもっと野球が効率的に上手になるのではないか、怪我する前に予防ができるのではないか、怪我した選手たちにもっと寄り添って怪我を治せるのではないかと思うようになり、同じ思いを持った仲間２人と治療院のオープンを決意しました。
