body {
  margin :0 ;
  font-family: 'Noto Sans JP';
}
.scroll_button a{
    position: fixed;
    display: block;
    right:50px;
    bottom:50px;
    background: #313131;
    color:#fff;
    padding:20px;
}
.header-container{
  width: 100vw;
  height: 7vh;
  background-color: green;
}
.header-logo{
  width: 30vw;
}
.headers{
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header{
  color: white;
}
.lg-flex-container{
  width: 100vw;
  margin: 0;
}
.top-img{
  margin-top: 5vh;
  display: flex;
  width: 100vw;
  position: relative;
}
.top-message{
  font-family: 'M PLUS 1p', sans-serif;
  color: white;
  position: absolute;
  top: 25vh;
  left: 7vw;
  font-size: 20px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1vw;
}
.middle-message{
  color: white;
  position: absolute;
  top: 44.5vh;
  left: 9.5vw;
  margin: 0;
  padding: 0;
  letter-spacing: 0.3vw;
}
.info-container{
  width: 100vw;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.info{
width: 90vw;
margin-top: 3vh;
height: 80vh;
background-image: url("portrait-1344646_1920.jpg");
background-size: cover;
position: relative;
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
}
.info-message{
  margin: 0;
  padding: 0;
  color: white;
  position: absolute;
  top: 20vh;
  left: 2vw;
  text-align: center;
}
.info-top-massage{
  line-height: 1em;
}
.info-middle-massage{
  margin-top: 3em;
  line-height: 1em;
}
.we-container{
  width: 100vw;
  margin: 0;
}
.we-img{
  margin-top: 3vh;
  width: 90vw;
  height: 80vh;
  background-image: url(IMG_4498.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}
.we-message{
  top:3vh;
  left:53vw;
  text-align: center;
  position: absolute;
  background-color: rgba(240, 240, 240,0.1);
  padding: 1em 2em;
}
.tretments{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;

}
.treatment {
  width: 20vw;
  height: 60vh;
  border: solid thin green;
  margin: 2em;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.tretment-name{
  text-align: center;
}
.treatment-img {
 width: 10vw;
 height: 20vh;
 margin: 3vh 0 5vh 0;
}
.contact{
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0em;
  background-color: rgb(100,250,190);
  margin-bottom: 3vh;
}
.location_container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 3vh;
}
.map-container{
  width: 40vw;
  height: 50vh;
}
.overview-container{
  align-items: center;
  display: flex;
  flex-flow : column nowrap;
  width: 40vw;
  height: 50vh;
}
.overviews{
  background-color: rgb(220,250,220);
  margin:1vh 0;
  padding:1vh 0;
  width:30vw;
  height: 30vh;
}

.table{
  text-align: center;
  width: 35vw;
}

.bottom {
  box-shadow: 0px 1px 0px 0px green;
}

table td {
   padding: 0.3em;
   margin: 0;
}
