.lg-flex-container{
  width: 100vw;
  margin: 0;
}
.explanation-top{
  margin-top: 1vh;
  text-align: left;
}
.explanation-mid{
  margin-top: 3vh;
  text-align: left;
}
.explanation-bottom{
  margin-top: 3vh;
  text-align: left;
  letter-spacing: 1em;
}
.bs{
  margin-bottom: 1em;
}
.service-container{
  margin-top: 3em;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.shoulder-pain-img{
  width: 40vw;
  height: 90vh;
  margin:1em;
  background-image: url("training-828741_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.shoulder-pain-explanation{
  width: 40vw;
  height: 90vh;
  margin :1em;
}
.baseball-img{
  width: 40vw;
  height: 90vh;
  margin:1em;
  background-image: url("baseball-1929542_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.baseball-explanation{
  width: 40vw;
  height: 90vh;
  margin :1em;
}
.conditioning-img{
  width: 40vw;
  height: 90vh;
  margin:1em;
  background-image: url("stretching-2307890_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.conditioning-explanation{
  width: 40vw;
  height: 90vh;
  margin :1em;
}
